<div class="content_draught">
    <div class="draughts_base">
    </div>
    <div class="draughts_playzone">
        <canvas id="canvas" width="500" height="500" >
		    Canvas not supported.
    </canvas>
        <%= javascript_tag "initDraughtsCanvas();" %>
    </div>
    <div id="partyEnd" class="draught_end_party_hidden">
    </div>
    <div id="draughtsLoadingDiv" class="draught_loading_hidden">
        <%= image_tag ("ajax-loader.gif") %>
    </div>   
    <div class="draught_back_menu">
        <%= form_tag('/draughts/index') do %>           
            <%= submit_tag(value = "Restart") %>&nbsp;
            <%= link_to('back to menu','/homes/index') %>
        <% end %>
    </div>
    <br /><br />
</div>
